<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
        <td mat-cell *matCellDef="let row"> {{row.titulo}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="creador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creador </th>
        <td mat-cell *matCellDef="let row"> {{row.creador}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaCreacion}} </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="publicada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publicada </th>
        <td mat-cell *matCellDef="let row" > {{row.publicada}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
