<div class="container-fluid">
  <div class="row p-4">
    <mat-form-field class="col-12">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
    </mat-form-field>

    <div class="mat-elevation-z8 col-12 p-0" >
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Titulo Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
          <td mat-cell *matCellDef="let row" (click)="verPagina(row)">{{row.titulo}} </td>
        </ng-container>

        <!-- Creaor Column -->
        <ng-container matColumnDef="creador">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Creador </th>
          <td mat-cell *matCellDef="let row"> {{row.creador}} </td>
        </ng-container>

        <!-- Ultima edicion Column -->
        <ng-container matColumnDef="ultimaEdicion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima edición </th>
          <td mat-cell *matCellDef="let row"> {{row.ultimaEdicion}} </td>
        </ng-container>

        <!-- Publicada Column -->
        <ng-container matColumnDef="publicada">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Publicada </th>
          <td mat-cell *matCellDef="let row"> <app-boton-cambio-publicada [pagina]="row"></app-boton-cambio-publicada></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fila" >
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
