<div class="container" *ngIf="pagina">
    <div class="row mb-2">
        <h1 class="col-12 text-center">{{pagina.titulo}}</h1>
        <small class="col-12 text-center">{{pagina.ultimaEdicion}}</small>
    </div>
    <div *ngFor="let componente of pagina.componentes">
        <div [ngSwitch]="componente.nombre">
            <div *ngSwitchCase="'TEXTO'">
                <app-temp-text-pagina [contenido]="componente.contenido"></app-temp-text-pagina>
            </div>
            <div *ngSwitchCase="'ENLACE'">
                <app-temp-enlace-pagina [contenido]="componente.contenido"></app-temp-enlace-pagina>
            </div>
            <div *ngSwitchCase="'FOTO'">
                <app-temp-foto-pagina [contenido]="componente.contenido"></app-temp-foto-pagina>
            </div>
        </div>
    </div>

    <div class="row mb-2 p-2" id="comentarios">
        <app-form-comentario [paginaId]=pagina.id></app-form-comentario>
    </div>
    <div class="row mb-2 p-2">
        <app-list-comentario [paginaId]=pagina.id class="w-100"></app-list-comentario>
    </div>
</div>
