<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 ><a [routerLink]="[ '']" class="text-white">My blog</a></h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav  [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item><a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Páginas</a></mat-list-item>
        <mat-list-item><a [routerLink]="['form-pagina']" routerLinkActive="router-link-active" >Add pagina</a></mat-list-item>
        <mat-list-item><a [routerLink]="['config']" routerLinkActive="router-link-active" >Config</a></mat-list-item>
        <mat-list-item><a [routerLink]="['multimedia']" routerLinkActive="router-link-active" >Multimedia</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
